<div ng-init="hovered = false" ng-mouseover="hoverIn(this);" ng-mouseleave="hoverOut(this)"  ng-class="{'angular-ui-tree-handle': item.isRoot === false}" ng-attr-data-nodrag="{{item.isRoot === true}}" class="angular-ui-tree-handle-nodrag">
            <span data-ng-show="item.items.length > 0"><a class="angular-ui-tree-icon" data-nodrag ng-click="toggle(this)">
                <span class="angular-ui-tree-icon-collapse" ng-class="{'collapsed': collapsed, 'uncollapsed': !collapsed}"></span>
            </a></span>
    {{item.title}}
    <a ng-show="hovered" ng-if="!item.isRoot" class="pull-right btn-icon btn-icon-min-sm btn-danger" data-nodrag ng-click="removeItem(item, remove)" href="javascript:void(0)">
        <i class="glyphicon glyphicon-trash"></i>
    </a>
    <a ng-show="hovered" ng-if="!item.isRoot" class="pull-right btn-icon btn-icon-min-sm btn-edit" data-nodrag ui-sref="entityEdit({ entity: 'page', id: item._id.$id })">
        <i class="glyphicon glyphicon-pencil"></i>
    </a>
    <a ng-show="hovered" class="pull-right btn-icon btn-icon-min-sm btn-success" data-nodrag ui-sref="entityAddPage({ entity: 'page', pid: item._id.$id })">
        <i class="glyphicon glyphicon-plus"></i>
    </a>
</div>
<ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
    <li ng-repeat="item in item.items" ui-tree-node ng-include="'app/modules/entityPage/pagesList/items_renderer.html'">
    </li>
</ol>