atom/composer.lock
atom/composer.phar
atom/components/
atom/config_dev.php

themes/backend_src/node_modules/
themes/backend_src/bower_components/
themes/backend_src/coverage/
themes/backend_src/.sass-cache/
themes/backend_src/.idea/
themes/backend_src/.tmp/
themes/backend_src/dist/
themes/backend_src/karma/
themes/frontend_src/node_modules/
themes/frontend_src/bower_components/
themes/frontend_src/coverage/
themes/frontend_src/.sass-cache/
themes/frontend_src/.idea/
themes/frontend_src/tmp/
themes/frontend_src/dist/
themes/frontend_src/karma/

upload/*

.hg
.hgignore
.idea
*.sublime-project
*.sublime-workspace

!.gitkeep