<div class="page-signin">

  <div class="main-body">
    <div class="container">
      <div class="form-container">

        <form class="form-horizontal" ng-submit="makeRegistration()" autocomplete="off">
          <fieldset>
            <input style="display:none">
            <input type="password" style="display:none">
            <div class="form-group">
              <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                <span class="glyphicon glyphicon-envelope"></span>
              </div>
              <input type="email" class="form-control input-lg input-round text-center" placeholder="Email" ng-model="user.email">
            </div>
            <div class="form-group">
              <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                <span class="glyphicon glyphicon-lock"></span>
              </div>
              <input type="password" class="form-control input-lg input-round text-center" placeholder="Пароль" ng-model="user.password">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-lg btn-round btn-block text-center" value="Зарегистироваться">
            </div>
          </fieldset>
        </form>

      </div>
    </div>
  </div>

</div>