<div class="form-inline">
  <div class="datepicker-holder"
       atom-field-datetime
       field="model.fieldValue"
       field-name="fieldKey"
       scheme="field"
  ></div>
  <a ng-hide="true" ng-click="applyFilter()" class="btn-icon bg-info btn-icon-sm">
    <i class="fa fa-check"></i>
  </a>
  <div class="secondaryValue"
       atom-field-datetime
       ng-i-f="interval"
       field="model.secondaryValue"
       field-name="fieldKey"
       scheme="field"
       interval="true"></div>
  <a ng-hide="true" ng-click="interval?interval=false:interval=true" class="btn-icon bg-info btn-icon-sm">
    <i class="fa fa-arrows-h"></i>
  </a>
</div>