<div class="page page-table" >
  <div ng-hide="formSchema" class="form-group refresh-position">
    <div class="col-md-12 text-center">
      <span style="font-size: 24px" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
  </div>
  <section ng-show="formSchema" class="panel panel-default">
    <div class="panel-heading">
      <strong data-ng-show="isNew"><span class="glyphicon glyphicon-th"></span> Создание элемента</strong>
      <strong data-ng-hide="isNew"><span class="glyphicon glyphicon-th"></span> Редактирование элемента <span ng-if="itemTitle">"<span class="edit-item-title">{{itemTitle}}</span>"</span></strong>
    </div>
    <div class="panel-body">


      <div class="ui-tab-container" ng-if="tabsCount > 1">
        <tabset class="ui-tab">
          <tab heading="{{tabTitle}}" ng-repeat="(tabKey, tabTitle) in tabs">
            <form class="form-horizontal" autocomplete="off">
              <input type="text" style="display:none" id="email" name="email">
              <input type="password" style="display:none" id="password" name="password">
              <div class="form-group"
                   ng-if="field.tab === tabKey"
                   ng-show="field.visible !== false"
                   ng-repeat="(key,field) in formSchema"
                   build-form-markup=""
                   markup-data="{{field}}"
                   field-readonly="{{!updateEnabled}}">
              </div>

              <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">

                  <div class="pull-right">
                    <!--<a  class="btn btn-w-md btn-gap-v btn-warning">Отмена</a>-->
                    <div class="btn-group dropup pull-right  margin-right-10"  uib-dropdown>
                      <button tooltip="Отменить" tooltip-placement="top" tooltip-append-to-body="true" type="button" ng-click="goToList()" class="btn btn-warning"> Отменить </button>
                      <button type="button" class="btn btn-warning dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:;" ng-click="rollback();">Отменить изменения</a></li>
                        <li><a ui-sref="entitiesList({'entity': entity })">Вернуться к списку</a></li>
                      </ul>
                    </div>
                  </div>


                  <div ng-if="deleteEnabled"  class="btn-group dropup  pull-right margin-right-10" ng-show="!isNew" uib-dropdown>
                    <button tooltip="Удалить или очистить форму" tooltip-placement="top" tooltip-append-to-body="true"  type="button" ng-click="remove()" class="btn btn-danger">Удалить</button>
                    <button type="button" class="btn btn-danger dropdown-toggle"  uib-dropdown-toggle>
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                      <!--<li><a href="javascript:;">Предварительный просмотр</a></li>-->
                      <li><a href="javascript:;" ng-click="clear();">Очистить форму</a></li>
                      <li><a href="javascript:;" ng-click="remove();" >Удалить запись</a></li>
                    </ul>
                  </div>


                  <button ng-show="!deleteEnabled" class="btn btn-danger pull-right margin-right-10 btn-w-md listControlButtons" ng-click="clear();"
                          type="button">Очистить форму
                  </button>


                  <div ng-if="updateEnabled" class="btn-group dropup pull-right  margin-right-10" uib-dropdown>
                    <button tooltip="Сохранить" tooltip-placement="top" tooltip-append-to-body="true"  ng-click="save(true)" type="button" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                      <!--<li><a href="javascript:;">Предварительный просмотр</a></li>-->
                      <li><a  href="javascript:;" ng-click="save(true);close()">Сохранить и вернуться к списку</a></li>
                      <li><a href="javascript:;" ng-click="save(false);">Сохранить и остаться</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </form>
          </tab>
        </tabset>
      </div>

      <form ng-if="tabsCount === 1" class="form-horizontal" autocomplete="off">
        <input type="text" style="position: absolute;left: -1000px;">
        <input type="password" style="position: absolute;left: -1000px;">
        <div class="form-group"
             ng-show="field.visible !== false"
             ng-repeat="(key,field) in formSchema"
             build-form-markup=""
             markup-data="{{field}}"
             field-readonly="{{!updateEnabled}}">
        </div>

        <div class="form-group">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">

            <div class="pull-right">
              <!--<a  class="btn btn-w-md btn-gap-v btn-warning">Отмена</a>-->
              <div class="btn-group dropup pull-right  margin-right-10"  uib-dropdown>
                <button tooltip="Отменить" tooltip-placement="top" tooltip-append-to-body="true"  type="button" ng-click="goToList()" class="btn btn-warning"> Отменить </button>
                <button ng-show="updateEnabled" type="button" class="btn btn-warning dropdown-toggle" uib-dropdown-toggle>
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul ng-show="updateEnabled" class="dropdown-menu pull-right">
                  <li><a href="javascript:;" ng-click="rollback();">Отменить изменения</a></li>
                  <li><a ui-sref="entitiesList({'entity': entity })">Вернуться к списку</a></li>
                </ul>
              </div>
            </div>


            <div ng-show="deleteEnabled" class="btn-group dropup  pull-right margin-right-10" ng-show="!isNew" uib-dropdown>
              <button tooltip="Удалить или очистить" tooltip-placement="top" tooltip-append-to-body="true"  type="button" ng-click="remove()" class="btn btn-danger">Удалить</button>
              <button type="button" class="btn btn-danger dropdown-toggle"  uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu pull-right">
                <!--<li><a href="javascript:;">Предварительный просмотр</a></li>-->
                <li><a href="javascript:;" ng-click="clear();">Очистить форму</a></li>
                <li><a href="javascript:;" ng-click="remove();">Удалить элемент</a></li>
              </ul>
            </div>

            <div ng-if="updateEnabled" class="btn-group dropup pull-right  margin-right-10" uib-dropdown>
              <button tooltip="Сохранить" tooltip-placement="top" tooltip-append-to-body="true"  ng-click="save(true)" type="button" class="btn btn-primary">Сохранить</button>
              <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu pull-right">
                <!--<li><a href="javascript:;">Предварительный просмотр</a></li>-->
                <li><a  href="javascript:;" ng-click="save(true);close()">Сохранить и вернуться к списку</a></li>
                <li><a href="javascript:;" ng-click="save(false);">Сохранить и остаться</a></li>
              </ul>
            </div>
          </div>
        </div>
      </form>

    </div>
  </section>
</div>
