.header-container > .top-header .menu-button {
  z-index: 1000;
}

.nav-container .nav ul li>a i.fa {
  margin-right: 25px;
}

.btn-remove {
  background-color: #d73532;
  border-color: #d73532;
  color: #fff;
  &:hover {
    background-color: #bc2725;
    border-color: #ab2421;
    color: #fff;
  }
}

.btn-edit {
  background-color: #018faf;
  border-color: #018faf;
  color: #fff;
  margin-right: 3px;
  &:hover {
    background-color: #016e86;
    border-color: #015d72;
    color: #fff;
  }
}

.btn-icon.btn-icon-min-sm.btn-danger, .btn-icon.btn-icon-min-sm.btn-success {
  margin-right: 3px;
}

.btn-icon-min-sm {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.action-th, .action-td {
  width: 100px;
  text-align: center;
}

.checkAll-th {
  width: 15px;
}

@media only screen and (max-width: 1200px) {
  .action-th, .action-td, .checkAll-th {
   width: auto;
  }
}

.table-dynamic .table-bordered thead th.action-th > .th {
  padding-right: 8px;
  text-align: center;
}

.visible-td, .table-dynamic .table-bordered thead th.visible-td > .th {
  width: 130px;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.switch {
  i.slim {
    &:before {
      background: none repeat scroll 0 0 #fff;
      border-radius: 20px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      height: 20px;
      width: 20px;
    }
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset;
    cursor: pointer;
    display: inline-block;
    padding-right: 16px;
    transition: all 0.2s ease 0s;
  }
  *:checked + i.slim {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 0 50px #248aaf inset;
    padding-left: 16px;
    padding-right: 0;
  }
}

.ui-select {
  overflow: hidden;
  margin-left: 0px;
}

.image-link {
  cursor: pointer;
}

.hide-file-name .file-input-name {
  display: none;
}

.disable-item {
  opacity: 0.5 !important;
  cursor: default !important;
  * {
    opacity: 0.5 !important;
    cursor: default !important;
  }
}

.app > .main-container > .nav-container:before, #nav-container > .nav-wrapper {
  z-index: 1;
}

.header-container > .top-header .logo {
  z-index: 2;
}

span.require {
  color: red;
}

.ui-select.width-100 {
  width: 100%;
  &:after {
    right: 2%;
  }
  > select {
    width: 102%;
    &:focus + .outline-focus {
      border: 1px solid #248aaf;
      border-radius: 4px;
      display: block;
      height: 100%;
      left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1000;
      + .outline {
        border: none;
      }
    }
    + .outline-focus + .outline {
      border: 1px solid #cbd5dd;
      border-radius: 4px;
      display: block;
      height: 100%;
      left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  border: none;
  &:focus {
    border-color: #248aaf;
    box-shadow: none;
  }
}

.form-horizontal .file-input-name {
  display: none;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}


@-webkit-keyframes spinw {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}


@-moz-keyframes spinm {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}


@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}


@-webkit-keyframes spinw {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}


@-moz-keyframes spinm {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}


.refresh-position {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}

.dummy-height {
  height: 250px;
  width: 100%;
  display: block;
}

.chosen-container-single, .chosen-container-multi {
  width: 100% !important;
}

.main-container .chosen-container-single,.main-container .chosen-container-multi {
  .chosen-single {
    width: 100% !important;
  }
  &:after {
    right: 1%;
  }
}

.dropdown-menu.stem-right {
  &:before {
    left: calc(100% - 35px) !important;
    top: -16px !important;
  }
  &:after {
    left: calc(100% - 34px) !important;
  }
  right: 0 !important;
  left: auto !important;
}

.action-td {
  .btn-remove {
    margin-left: 20px;
  }
  .btn-edit {
    margin-left: 0;
    margin-right: 0;
  }
}

.table {
  label.ui-checkbox {
    margin-bottom: 0;
  }
  .switch {
    margin-bottom: 0;
    height: 21px;
  }
  img {
    max-height: 240px;
  }
}

div.form-group {
  > label {
    margin-top: 7px;
  }
}

.top-nav {
  .nav-profile {
    span span {
      line-height: 30px;
    }
  }
}

span.input-group-addon {
  cursor: pointer;
}

.entity-link {
  float: right;
  line-height: 24px;
  margin-right: -15px;
}

.angular-ui-tree-handle-nodrag {
  position: relative;
  display: block;
  margin: 5px 0;
  padding: 10px 10px;
  text-decoration: none;
  border: 1px solid #e9e9e9;
  background: #fff;
  border-radius: 4px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 20px;
  line-height: 20px;

  &:hover {
    background-color: #f9f9f9;
  }
}

.angular-ui-tree-handle:hover {
  background-color: #f9f9f9;
}

.pagination {
  white-space:nowrap;
  //width: 100%;
  height:39px;
  & > li {
    height:29px;
    display: inline-block;
  }
}

.scrollable {
  &-bar-x {
    bottom: -2px !important;
    opacity: 0.55 !important;

    &:hover {
      opacity:0.85 !important;
    }
  }

  &-slider {
    border: none !important;
    background: none #3a3a3a !important;
  }


}

.chosen-container .chosen-results {
  max-height: 120px !important;
}

#content .page {
  padding-bottom: 110px;
}

.panel-body {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}


@media(max-width: $screen-xs-max) {
  .btn-w-md { min-width: 100px; }

  .edit-buttons button.btn {
    padding-left: 8px;
    padding-right: 8px;
    &.dropdown-toggle {
      padding: 6px;
    }

  }
}
