<select
        ng-if="scheme.multiple"
        chosen
        no_results_text="'Результат не найден'"
        placeholder-text-multiple="'Выберите один или несколько вариантов'"
        placeholder-text-single="'Выберите один вариант'"
        multiple
        ng-options="b as b.title for b in list track by b.id"
        ng-model="entityModel[fieldName]">
  <option value=""></option>
</select>

<select
  ng-if="!scheme.multiple"
  chosen
  no_results_text="'Результат не найден'"
  placeholder-text-multiple="'Выберите один или несколько вариантов'"
  placeholder-text-single="'Выберите один вариант'"
  ng-options="b as b.title for b in list track by b.id"
  ng-model="entityModel[fieldName]">
        <option value=""></option>
</select>