
<div class="nav-wrapper">
  <ul id="nav"
      class="nav"
      data-slim-scroll
      data-collapse-nav
      data-highlight-active>
    <li class="infoblockMenu" class="open active">
      <a href="#/pages"><i class="fa fa-file-text-o"></i><span data-i18n="Pages">Инфоблоки</span></a>
      <ul>
        <li
          ng-repeat="(pageName, page) in pages"
          ng-if="page.icon"
          ng-class="{'active': $root.activeEntity == page.entityName}">
            <a ui-sref="entitiesList({'entity': page.entityName})">
              <i class="fa {{page.icon}}"></i>
              <span data-i18n="PageNamePlaceHere">{{ page.title }}</span>
            </a>
        </li>
      </ul>
    </li>
  </ul>
</div>