<div class="form-inline" ng-if="field.type=='text'||field.type=='string'">
  <input class="form-control" type="text" ng-model="fieldValue">
  <a ng-click="applyFilter()" class="btn-icon bg-success btn-icon-sm">
    <i class="fa fa-check"></i>
  </a>
</div>
<div ng-if="field.type=='integer'">
  <input type="text" ng-model="fieldValue" ng-keypress="applyFilter($event)">
  <a ng-click="applyFilter()" class="btn-icon bg-success btn-icon-sm">
    <i class="fa fa-check"></i>
  </a>
</div>
<div ng-if="field.type=='datetime'">
  <input type="text" ng-model="fieldValue" ng-keypress="applyFilter($event)">
  <a ng-click="applyFilter()" class="btn-icon bg-success btn-icon-sm">
    <i class="fa fa-check"></i>
  </a>
</div>
<div ng-if="field.type=='boolean'">
  <label class="switch"><input type="checkbox" ng-model="fieldValue"><i></i></label>
  <a ng-click="applyFilter()" class="btn-icon bg-success btn-icon-sm">
    <i class="fa fa-check"></i>
  </a>
</div>
<div ng-if="field.type=='select'">
  <input type="text" ng-model="fieldValue" ng-keypress="applyFilter($event)">
  <a ng-click="applyFilter()" class="btn-icon bg-success btn-icon-sm">
    <i class="fa fa-check"></i>
  </a>
</div>
<div ng-if="field.type=='entity'">
  <input type="text" ng-model="fieldValue" ng-keypress="applyFilter($event)">
  <a ng-click="applyFilter()" class="btn-icon bg-success btn-icon-sm">
    <i class="fa fa-check"></i>
  </a>
</div>